@import '~jspsych/css/jspsych.css';
@import 'jspsych.css';

img,
video {
  height: auto;
}
video {
  max-width: 100%;
  margin: 0 auto;
}

#jspsych-progressbar-container {
  position: relative;
}

.quit-survey-panel {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}
