@import 'jspsych.css';

img,
video {
  height: auto;
}
video {
  max-width: 100%;
  margin: 0 auto;
}

#jspsych-progressbar-container {
  position: relative;
}

button:hover {
  cursor: pointer;
}

.custom-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#quit-close-btn {
  right: 0;
  position: absolute;
  top: 50%;
}

.inst-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inst-monitor {
  position: relative;
  width: 33%;
  height: 33%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inst-screen img {
  width: 94%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-5.25%);
}
